@media screen and (min-width: 1600px) {
	.container {width: 1499px;}
}

/*line*/
.header {position: relative;}
.header:before {content:''; width: 100%;height: 5px;background: #607d8b;position: absolute;}

/*header*/
.heder-text-container {text-align: center;float: left;width: 100%;}

.heder-logo-container {float: right;}